ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: rgb(176, 173, 166);
  color: rgba(36, 41, 46, 255) !important;
}

a.active {
  color: rgb(176, 173, 166);
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.brand-spacer {
  flex: 0 1 auto;
  margin-left: 2rem;
}

mat-toolbar {
  background-color: rgba(36, 41, 46, 255);
  margin-bottom: -22px;
}

.brand-name {
  color: white;
  cursor: pointer;
}

a {
  font-size: 20px;
}

.icon-menu {
  display: none;
}

mat-icon {
  color: white;
}

.profile-view-button {
  margin-right: 4px;
}

.logout-button {
  background-color: rgba(196, 49, 75, 255);
  font-size: 17px;
  color: white;
}

@media screen and (max-width: 600px) {
  .icon-menu {
    float: right;
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .responsive {
    position: relative;
  }

  .responsive button.icon-menu {
    position: absolute;
    right: 0;
    top: 0;
  }

  button.icon-menu-item .icon-menu-item-button {
    color: rgba(36, 41, 46, 255);
  }

  .logout-button {
    background-color: rgba(196, 49, 75, 255) !important;
    color: white !important;
  }
}
/* rgba(23,162,184,255) cyan
  rgba(36, 41, 46, 255) black
  rgba(196, 49, 75, 255) red
  rgb(176,173,166) grey
  rgba(224,74,88,255) red-error*/
