mat-card {
  width: 30%;
  background-color: rgba(36, 41, 46, 255);
  margin-top: 2rem;
  height: 610px;
}

mat-card-header {
  display: flex;
  justify-content: left;
  color: white;
}

.fa-user {
  margin: 8px;
  margin-right: 70px;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: rgb(176, 173, 166);
  margin-top: 1.39rem;
  height: 344.5px;
}

mat-card-content {
  text-align: left;
}

mat-card-content > p > span {
  font-weight: bold !important;
  color: white;
  font-size: 28px;
}

mat-card-content > p {
  font-size: 27px;
  font-weight: 420;
  color: white;
}

.back-button {
  width: fit-content;
  font-size: 17px;
  height: 50px;
}

.mat-card-actions {
  margin-left: 2px;
  margin-right: 10px;
  margin-top: 15px;
}

.primary-color {
  background-color: rgb(176, 173, 166);
  color: rgba(36, 41, 46, 255);
  font-size: 17px;
}

.warn-color {
  background-color: rgba(196, 49, 75, 255);
  color: white;
  font-size: 17px;
}

.fa-trash {
  margin-right: 5px;
  margin-bottom: 3px;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .mat-card {
    width: 80%;
    height: fit-content;
    margin-bottom: 1rem;
  }

  .fa-user {
    margin-right: 40px;
  }

  .main-div {
    height: 355px;
  }

  .mat-card-actions {
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .mat-card-actions button {
    width: fit-content;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }

  .update-button {
    margin-left: 10rem;
    margin-right: 5px;
  }

  .back-button {
    height: 45px;
    margin-top: -3rem;
  }
}
