mat-card {
  width: 30%;
  background-color: white;
  margin-top: 2.5rem;
  height: 610px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  background-color: rgba(36, 41, 46, 255);
  color: white;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: left;
  background-color: lightgray;
  margin-top: 1.39rem;
  height: 689px;
}

mat-card-content {
  text-align: left;
}

mat-card-content > p > span {
  font-weight: bold !important;
}

mat-card-content > p {
  font-size: 35px;
  font-weight: 420;
}

.back-button {
  width: fit-content;
  font-size: 17px;
  height: 50px;
}

.mat-card-actions {
  margin-left: 2px;
  margin-top: -9px;
}

.primary-color {
  background-color: rgba(36, 41, 46, 255);
  color: white;
  font-size: 15px;
}

.warn-color {
  background-color: rgba(196, 49, 75, 255);
  color: white;
  font-size: 15px;
}

.fa-trash {
  margin-right: 5px;
  margin-bottom: 3px;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .mat-card {
    width: 90%;
    height: 81vh;
  }

  .main-div {
    height: 661px;
  }

  .mat-card-actions {
    margin-top: -22px;
  }

  .back-button {
    height: 45px;
    margin-top: -1rem;
  }
}
